.title {
  font-size: 18px;
  font-weight: 700;
  color: var(--error);
  margin-bottom: 24px;
}

.message {
  font-size: 13px;
  line-height: 23px;
  color: var(--text-secondary);
  margin-bottom: 24px;
}

.actions {
  display: flex;
  gap: 16px;
}

.actions button {
  flex: 1;
}
